<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <title>Home</title>
</head>
<body>

<header th:insert="blocks/Header"></header>

<div align="center">
<h1>W E L C O M E</h1>
    <img src="https://image.myanimelist.net/ui/5pjpFizOF0WqHWXSGonzMeSD3gBI2FYeu-FZhMYbMIcXiwCL8lHAhPFz-DNgMngA9fK7Ly0sdDDhb2QWpcV1lSU8-4YIyUi72Q50ncfLZPM">

<h5>Сделано Никифоровой Елизаветой aka poltorashka</h5>
</div>

</body>
</html>