<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <title>Поиск преподавателя</title>
</head>
<body>

<div th:insert="blocks/Header"></div>

<div align="center">
    <h1>Фильтрация преподавателей</h1>
    <form method="post" th:action="${'/prepod/filter/result'}">
        <input type="text" name="familia">
        <button type="submit">Найти</button>
        <div style="margin: 10px" th:each="el : ${result}">
            <h5>---------------------------------------------------------</h5>
            <h4 th:text="${'ФИО: '+el.familia}" style="display: inline-block"></h4>
            <h4 th:text="${el.name}" style="display: inline-block"></h4>
            <h4 th:text="${el.otch}" style="display: inline-block"></h4>
            <h5 th:text="${'Предметы: '+el.predmeti}"></h5>
            <h5><a th:href="'/prepod/' + ${el.id}"> Подробнее </a></h5>
        </div>
    </form>
</div>

</body>
</html>