<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование преподавателя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:insert="blocks/Header"></div>

<div align="center" th:each="el : ${prepod}">
    <h1>Редактирование преподавателя</h1>
    <form method="post" th:object="${prepod}">

        <input th:field="*{familia}" style="width: 250px; height: 40px; margin: 2px; display: list-item" type="text" th:value="${prepod.getFamilia()}" name="familia" placeholder="Введите фамилию">
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('familia')}" th:errors="*{familia}"></div><br>

        <input th:field="*{name}" style="width: 250px; height: 40px; margin: 2px; display: list-item" type="text" th:value="${prepod.getName()}" name="name" placeholder="Введите имя">
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('name')}" th:errors="*{name}"></div><br>

        <input th:field="*{otch}" style="width: 250px; height: 40px; margin: 2px; display: list-item" type="text" th:value="${prepod.getOtch()}" name="otch" placeholder="Введите отчество">
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('otch')}" th:errors="*{otch}"></div><br>

        <textarea th:field="*{predmeti}" style="width: 300px; height: 100px; margin: 2px; display: list-item" name="predmeti" placeholder="Введите предметы" th:text="${prepod.getPredmeti()}"></textarea>
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('predmeti')}" th:errors="*{predmeti}"></div><br>

        <textarea th:field="*{grafic}" style="width: 300px; height: 100px; margin: 2px; display: list-item" name="grafic" placeholder="Введите дни работы" th:text="${prepod.getGrafic()}"></textarea>
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('grafic')}" th:errors="*{grafic}"></div><br>

        <button type="submit">Сохранить</button>
    </form>
</div>

</body>
</html>