<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <title>Регистрация</title>
</head>
<body>
<div align="center">
    <div th:if="${#messages}">
        <p th:text="${message}"></p>
    </div>
    <h1>Регистрация</h1>
    <form th:action="@{/registration}" method="post">
        <label>Придумайте логин:</label>
        <div style="width: 250px; height: 40px; margin: 1px"><input type="text" name="username"/></div>
        <label>Придумайте пароль:</label>
        <div style="width: 250px; height: 40px; margin: 1px"><input type="password" name="password"/></div>
        <div style="width: 200px; height: 40px; margin: 1px"><input type="submit" value="Зарегистрироваться"/></div>
        <a href="/login">Авторизация</a>
    </form>
</div>
</body>
</html>