<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование студента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:insert="blocks/Header"></div>

<div align="center" th:each="el : ${student}">
    <h1>Редактирование студента</h1>
    <form method="post" th:object="${student}">

        <input th:field="*{familia}" style="width: 250px; height: 40px; margin: 2px; display: list-item" type="text" th:value="${student.getFamilia()}" name="familia" placeholder="Введите фамилию">
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('familia')}" th:errors="*{familia}"></div><br>

        <input th:field="*{name}" style="width: 250px; height: 40px; margin: 2px; display: list-item" type="text" th:value="${student.getName()}" name="name" placeholder="Введите имя">
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('name')}" th:errors="*{name}"></div><br>

        <input th:field="*{otch}" style="width: 250px; height: 40px; margin: 2px; display: list-item" type="text" th:value="${student.getOtch()}" name="otch" placeholder="Введите отчество">
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('otch')}" th:errors="*{otch}"></div><br>

        <input th:field="*{grupa}" style="width: 250px; height: 40px; margin: 2px; display: list-item" type="text" th:value="${student.getGrupa()}" name="grupa" placeholder="Введите группу">
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('grupa')}" th:errors="*{grupa}"></div><br>

        <input th:field="*{birthday}" style="width: 250px; height: 40px; margin: 2px; display: list-item" type="date" th:value="${student.getBirthday()}" name="birthday" placeholder="Введите дату рождения">
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div><br>

        <button type="submit">Сохранить</button>
    </form>
</div>

</body>
</html>