<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <title>Студенты</title>
</head>
<body>

<div th:insert="blocks/Header"></div>

<div align="center">
    <h1>Все студенты</h1>
    <h4 style="margin: 5px"><a href="/student/filter"> Поиск студентов</a></h4>
    <h4 style="margin: 5px"><a href="/student/add"> Добавить студента</a></h4>
    <table>
        <div th:each="el : ${students}">
            <h5>---------------------------------------------------------</h5>
            <h4 th:text="${'ФИО: '+el.getFamilia()}" style="display: inline-block;margin-left: 10px"></h4>
            <h4 th:text="${el.getName()}" style="display: inline-block"></h4>
            <h4 th:text="${el.getOtch()}" style="display: inline-block"></h4>
            <h5 th:text="${'Группа: '+el.getGrupa()}" style="margin-left: 10px"></h5>
            <h5 th:text="${'Дата рождения: '+el.getBirthday()}" style="margin-left: 10px"></h5>
            <h5 th:text="${'Университет: '+el.getUniversitys().getNazvanie()}" style="margin-left: 10px"></h5>
            <h5><a th:href="'/student/' + ${el.id}"> Подробнее </a></h5>
        </div>
    </table>
</div>

</body>
</html>